.newContainer {
    width: 90vw;
    height: 70vh;
    //background: rgb(90, 90, 90);
    margin: auto;
    margin-top: 2%;

    .btn {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3%;

        .back {
            width: 30px;
            height: 30px;
            color: $color-gray;

            :hover {
                background: $color-purple;
            }
        }
        button {
            border: none;
            background: none;
        }

        .save {
            width: 30px;
            height: 30px;
            color: $color-gray;
            transition: all 0.3s ease-in;
        }

        .save:hover {
            color: $color-purple;
        }
    }
    form {
        .titleContainer {
            width: 40vw;
            height: 7vh;
            display: flex;
            background: white;
            align-items: center;
        }
    
        .desContainer {
            width: 90vw;
            height: 90%;
            position: absolute;
           
        }
    
        textarea {
            width: 100%;
            height: 90%;
            border-color: $color-light-gray;
            outline-color: $color-purple;
            margin-top: 3%;
        }

    }
    
}